$primary-color: #647bff;
$secondary-color: #647b00;

$menu-bg: transparent;

// menu active transparent
$menu-item-active-bg: #fff;

$layout-header-background: #fff;

$layout-body-background: #fff;

$btn-font-weight: 600;

// $font-size-base: 14px;
// $font-family: Montserrat;
